@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.projectContainer{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
} 

.projectContainer > h1{
    margin-top: 20px;
}

.projectContainer_projects{
    display: flex;
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
    overflow: hidden;
}

