.project > img{
    width: 350px;
    height: 200px;
}

.project{
    margin: 15px;
    width: 350px;
    height: 200px;
    transition: transform 100ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project:hover{
    color: whitesmoke;
    background-color: #e62200;
    transform: scale(1.05);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.project_content{
    padding: 10px;
}

.project_content > p{
    font-size: 18px;
}

.project_btn{
    position: absolute;
    display: flex;
    gap: 5px;
}

.project_appBtn{
    color: whitesmoke;
    background-color: #0F9D58;
    font-size: 12px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.project_appBtn:hover{
    background-color: #50C7C7;
    color: black;
}

.project_codeBtnFE{
    color: whitesmoke;
    background-color: #0F9D58;
    font-size: 12px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.project_codeBtnFE:hover{
    background-color: #50C7C7;
    color: black;
}

.project_codeBtnBE{
    color: whitesmoke;
    background-color: #0F9D58;
    font-size: 12px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.project_codeBtnBE:hover{
    background-color: #50C7C7;
    color: black;
}

@media screen and (max-width: 500px) {
    .project > img{
        width: 250px;
    }
    .project:hover{
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .project_btn{
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .project_btn{
        flex-direction: column;
        left: 20%;
    }
}

@media screen and (max-width: 300px) {
    .project_btn{
        flex-direction: column;
        left: 10%;
    }
}

