@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.skillContainer_image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}

.skillContainer_image > img{
    width: 500px;
    border-radius: 3px;
    object-fit: contain;
}

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillContainer_text{
    color: whitesmoke;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillContainer_text> h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Kalam";
}

.skillContainer_text> h2 > span{
    color:	#e62200;
}

.skillContainer_skillset > h5{
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

.skillContainer_slider > .MuiLinearProgress-colorPrimary{
    background-color: grey;
}

.skillContainer_slider1 > span > .MuiLinearProgress-barColorPrimary{
    background-color: greenyellow
}
.skillContainer_slider2 > span > .MuiLinearProgress-barColorPrimary{
    background-color:green
}
.skillContainer_slider3 > span > .MuiLinearProgress-barColorPrimary{
    background-color: blue
}
.skillContainer_slider4 > span > .MuiLinearProgress-barColorPrimary{
    background-color: orangered
}
.skillContainer_slider5 > span > .MuiLinearProgress-barColorPrimary{
    background-color:brown
}
.skillContainer_slider6 > span > .MuiLinearProgress-barColorPrimary{
    background-color:crimson
}
.skillContainer_slider7 > span > .MuiLinearProgress-barColorPrimary{
    background-color:deeppink
}
.skillContainer_slider8 > span > .MuiLinearProgress-barColorPrimary{
    background-color:darkorange
}

.skillContainer_slider{
    margin-top: 10px;
}


@media screen and (max-width:1000px){
    .skillContainer_image{
        flex: 0.2;
    }
    .skillContainer_text{
        flex: 0.8;
    }
    .skillContainer_image > img{
        width: 300px;
    }
}
@media screen and (max-width:600px){
    .skillContainer_image{
        display: none;
    }
    .skillContainer_text{
        flex: 1.0;
    }
}