@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.experience{
    display: flex;
    flex-direction: column;
    border: 2px dotted whitesmoke;
    border-radius: 10px;
    width: 300px;
    height:auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    padding: 20px;
}

.experience > p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
}

.experience > h1{
    text-align: center;
}

@media screen and (max-width:1000px) {
    .experience{
        width:200px
    }
}
@media screen and (max-width:750px) {
    .experience{
        width:auto
    }
    .experience > h1{
        font-size: 22px;
    }
    .experience > p{
        font-size: 12px;
    }
}
@media screen and (max-width:600px) {
    .experience{
        width:auto
    }
    .experience > h1{
        font-size: 18px;
    }
    .experience > p{
        font-size: 10px;
    }
}
@media screen and (max-width:400px) {
    .experience{
        width:auto
    }
    .experience > h1{
        font-size: 12px;
    }
    .experience > p{
        font-size: 8px;
    }
}

